#main {
    margin : 30px
}

.method-list{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding-inline-start: 0px;
}

.method-list-item{
    margin-bottom: 10px;
    cursor: pointer;

}


:host >>> .ui-card {
     background-color: red;
     color : white
}

:host >>> .ui-inputtext {
    color : white;
    background: black;
    font-family: 'Roboto', sans-serif;
}

#mylabel{
    font-family: 'Roboto', sans-serif;
    color: white;
}



